[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rabbithair
[access "refs/for/refs/*"]
	read = group user/rabbithair
	push = group user/rabbithair
	label-Code-Review = -2..+2 group user/rabbithair
	label-Verified = -1..+1 group user/rabbithair
	rebase = group user/rabbithair
	removeReviewer = group user/rabbithair
	submit = group user/rabbithair
[access "refs/heads/*"]
	read = group user/rabbithair
	create = group user/rabbithair
	push = +force group user/rabbithair
	pushMerge = group user/rabbithair
[access "refs/tags/*"]
	push = +force group user/rabbithair
	pushTag = group user/rabbithair
	pushSignedTag = group user/rabbithair
